
/* ul {
  display: flex;
  justify-content: space-around;
} */

.top-sectoin {
  width: 100%;
  height: 500px;
  background: #2c2e31;
  color: #fff;
  text-align: center;
  overflow: hidden;
}

.user_card {
  max-width: 730px;
  margin: auto;
  margin-top: -200px;
}

.card {
  position: relative;
    padding: 20px 0;
    width: 100%;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 1px rgba(0,0,0,.2);
    overflow: hidden;
    text-align: center;
    z-index: 5;
    border: 1px solid rgba(0,0,0,.04);
}

.card:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 130px;
  top: 0;
  background: #f9f9f9;
  border-bottom: 1px solid rgba(0,0,0,.15);
  z-index: -1;
}

.card .user_photo {
  position: relative;
  background: #fff;
  padding: 5px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 30px;
  border: 1px solid rgba(0,0,0,.25);
}

.card .user_photo img {
  width: 150px;
  border-radius: 50%;
}
.card .user_title {
  color: #999;
  font-size: 18px;
  margin: 0;
}

.card .user_value {
  color: #2c2e31;
  font-size: 30px;
  margin: 5px;
}

.values_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: left;
}

.horizontal_center {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.values_list li {
  cursor: pointer;
  display: block;
  width: 40px;
  height: 48px;
  float: left;
  margin: 20px;
  transition: all .25s ease-out;
  color:#d9d9d9;
  font-size: 30px;
  line-height: 48px;
  position: relative;
}

.values_list li.active,
.values_list li.m-active{
  color: #83bb43;
}

.values_list li.active:before,
.values_list li.m-active:before {
  content: '';
  width: 100%;
  height: 2px;
  background: #83bb43;
  position: absolute;
  left:0;
  right:0;
  top:-2px;
  margin: auto;
}

.card .user_photo .refresh {
  position: absolute;
  bottom: -30px;
  left: 50%;
  padding: 10px 15px;
  color: #fff;
  background: rgba(0,0,0,.75);
  border-radius: 3px;
  text-decoration: none;
  opacity: 0;
  display: block;
  transform: translateX(-50%);
  transition: all .25s ease-out;
}

.card .user_photo:hover .refresh {
  bottom: -20px;
  opacity: 1;
}